In [7]:
import pandas as pd
import numpy as np

In [17]:
def func(n):
    if n == 1:
        return 10
    elif n == 2:
        return func(n-1)+8
    elif n == 3:
        return func(n-1)+5
    elif n == 4:
        return func(n-1)+7
    elif n == 5:
        return func(n-1)+2
print(func(5))

32

In [16]:
def fab(n):
    a=10
    for i in range(1,n+1):
        temp=a
        a=a
        b=a+8
        c=b+5
        d=c+2
        e=d+7
    return a,b,c,d,e
fab(2)

(10, 18, 23, 25, 32)

In [22]:
color=['red','blue','purple','green']
for x in color:
    print(x)

s="red"
for x in s:
    print(x)

red
blue
purple
green
r
e
d

In [26]:
sum = 0
i = 0
while i<10:
    sum=sum+i
    print(sum)
    i=i+1

0
1
3
6
10
15
21
28
36
45

In [36]:
df2=pd.read_csv('OneDrive/Documents/Game_of_Thrones_Script.csv')
print(df.head())

  Release Date    Season    Episode     Episode Title          Name  \
0    2011/4/17  Season 1  Episode 1  Winter is Coming  waymar royce
1    2011/4/17  Season 1  Episode 1  Winter is Coming          will
2    2011/4/17  Season 1  Episode 1  Winter is Coming  waymar royce
3    2011/4/17  Season 1  Episode 1  Winter is Coming          will
4    2011/4/17  Season 1  Episode 1  Winter is Coming         gared

                                            Sentence
0  What do you expect? They're savages. One lot s...
1  I've never seen wildlings do a thing like this...
2                             How close did you get?
3                            Close as any man would.
4                   We should head back to the wall.

In [37]:
df2['Name'].nunique()

564

In [38]:
df2['Name'].value_counts().index[0]

'tyrion lannister'

In [49]:
df2['count']=df2['Sentence'].apply(lambda x:len(x.split('  ')))
df2.sort_values(by='count')

,Release Date,Season,Episode,Episode Title,Name,Sentence,count
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...,1
15945,2015/5/17,Season 5,Episode 6,"Unbowed, Unbent, Unbroken",olenna tyrell,"And Loras is the queen's brother. No, no, no, ...",1
15944,2015/5/17,Season 5,Episode 6,"Unbowed, Unbent, Unbroken",margaery tyrell,But he was the king's brother.,1
15943,2015/5/17,Season 5,Episode 6,"Unbowed, Unbent, Unbroken",olenna tyrell,Renly Baratheon shagged half the stable boys i...,1
15942,2015/5/17,Season 5,Episode 6,"Unbowed, Unbent, Unbroken",margaery tyrell,Everyone knew about him and Renly.,1
...,...,...,...,...,...,...,...
7965,2013/4/14,Season 3,Episode 3,Walk of Punishment,pycelle,"Hear, hear.",1
7964,2013/4/14,Season 3,Episode 3,Walk of Punishment,cersei lannister,I have no doubt you will prove equal to this c...,1
7963,2013/4/14,Season 3,Episode 3,Walk of Punishment,tyrion lannister,"I'm quite good at spending money, but a lifeti...",1
7972,2013/4/14,Season 3,Episode 3,Walk of Punishment,brienne,And I'm a woman. I was still beating you.,1
23910,2019/5/19,Season 8,Episode 6,The Iron Throne,all,The Queen in the North! The Queen in the North...,1

In [67]:
df2 = df2.groupby('Name').agg(list)
df2['count']=df2['count'].apply(lambda x:sum(x))
df2

TypeError: 'int' object is not callable

In [70]:
df2.sort_values(by='count',ascending=False).index[0]

'tyrion lannister'

In [90]:
grouped_mul.size()

Name
a voice            1
addam marbrand     2
aemon             28
aeron              9
aerson             1
                  ..
young hodor        5
young lyanna       3
young man          4
young ned          6
young rodrik       1
Length: 564, dtype: int64

In [72]:
grouped_mul = df.groupby(['Season','Episode','Name'])
grouped_mul.get_group(('Season 1','Episode 1','waymar royce'))

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?